header{
    max-width: 1200px;

    margin: 0 auto;
    border: 1px solid green;

    padding: 8px 24px;
}

a{
    text-decoration: none;
    color: white;
}

.flex{
    display: flex;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;

    margin: 0 auto;
}

.border{
    border: 1px solid red;
}

.menu{
    list-style: none;
    display: flex;

    li{
        margin-left: 24px;
    }
}

.nav-link{

    display: inline-block;
    padding: 10px;

    transition: .5s ease;

    &:hover{
        opacity: .7;
    }
}

.input-search{
    height: 40px;
    min-width: 300px;
    background-color: rgb(33, 32, 32);

    border: 0;
    border-radius: 4px;

    color: white;
    padding: 8px;

}